 body{
     background-color: #413f3b;
color: whitesmoke;
    }
.body{
    width: 850px;
    margin: auto;
    background-color: #413f3b;
margin-top: 20px;
}
header{
    background-color: black;
    color: whitesmoke;
}
.one{
    
    text-transform: uppercase;
margin-bottom: 0%;
}
.two{
    margin-top: 0%;
    color: orangered;
}
.div{
    margin-left: 250px;
    height: 50px;
    

}
.three{
    margin-top: 0px;
}

.one{
    margin-top: 10px;
}
.italic{
    float: right;
    margin-right: 350px;
    /* margin-top:0px ; */
    font-size: 40%;
}

.five{
    text-transform: uppercase;
    width: 350px;
    font-size: 160%;
    text-align: right;
    margin-left: 350px;
word-spacing: 7px;
} 
.nine{
    /* float: right; */
    display: inline;
    /* margin-left:10px ; */
}
.important{
    float: left;
    margin-left: 20px;
}
.most{
    margin-left: 20px;
}
.ten{
    display: block;
    /* float: left; */
border-bottom: 1px solid whitesmoke;
width: 130px;
}
.div1{
    width: 200px;
    float: right;
margin-right: 80px;

}
.img{
    margin-left: 70px;
}
.six{
    margin-top: 20px;
    font-size: 50%;
}
.eight{
    border-top: whitesmoke 2px solid;
    text-transform: uppercase;
    margin-left: 20px;
font-size: 110%;
/* margin: 20px; */
}
p{
    margin-left: 10px;
}
