body{
    width: 900px;

    margin: auto;
    background-image: url(../images/real.jpg);
} 
.heading{
padding: 12px 0px 0px 0px;
background-color: grey;
color: whitesmoke;
text-transform: uppercase;
/* margin-left: 50px; */
/* height: 500px; */
}
ul{
margin-top: 30px;
    text-transform: capitalize;
    margin: 40px 40px 0px 30px;
    padding: 10px 20px 10px 20px;
}
.this{
    background-color: white;
    
margin-top: 20px;
margin-bottom: 20px;

}
.chi{
    margin-top: 0%;
}
.cho{
    margin-bottom: 0%;
}
h4{
    margin-top: 0px;
}
/* .yoko{
    margin-left: 100px;
    margin-top: 0px;
} */

.logo{
    margin-left: 20px;
    float: left;
margin-top: 10px;
}
.cooking{
    /* font-size: 110%; */
    margin-top: 30px;
    margin-left: 120px;
}
.ese{
    margin-bottom: 0%;
}
#jap{
    margin-top: 0%;
}


.food{
    padding: 8px;
    padding-left: 30px;
    color: whitesmoke;
}
.uno{
    /* padding: 5px; */
    background-color: lightslategray;
    margin: 0%;
margin-top: 3%;
}

h1{
    font-size: 150%;
}
a{
color: whitesmoke;

    margin-right: 30px;
text-decoration: none;
}
.par{
    margin-top: 0px;
    width: 200px;
    float:right ;
}


.kit{
    width: 100px;

}
.footer{
    background-color:lightslategrey;
    /* padding: 0.01%; */
    /* margin-right: 100px; */
/* float: left; */
/* margin-left: 20px;     */
    /* padding-left:5px ; */
}

.uli{
    color: black;
}
.section{
    margin-top: 20px;
    float: left;
}
.japan{
    /* margin-left: 500px; */
    margin-top: 30px;
font-size: 16.5px;
}
.pic{
    width: 200px;
    margin-top: 105px;
    margin-left: 350px;
}


.top{
    margin-top: 50px;
    margin-left: 650px;
}
.class{
float: left;
margin-left: 120px;
margin-top: 20px;
}
.img{
    width: 200px;
}
.class3{
    padding-top: 25px;
    margin-left: 10px;
}
.five,h2{
    color: palevioletred;
}
h4{
    color: palevioletred;
}

.important{
    float: left;
}

