body{
    width: 900px;
    margin: auto;
    /* background-image: url(../images/real.jpg); */
/* background-color: white !important;     */
} 
.heading{
padding: 10px 20px 10px 10px;
background-color: grey;
color: whitesmoke;
text-transform: uppercase;
margin-left: 50px;
}
ul{
margin-top: 30px;
    text-transform: capitalize;
    margin: 40px 40px 0px 30px;
    padding: 10px 20px 10px 20px;
}
/* .yoko{
    margin-left: 100px;
    margin-top: 0px;
} */

.logo{
    float: left;
margin-top: 10px;
}
.uno{
    background-color: lightslategray;
}
h1{
    font-size: 150%;
}
a{
color: whitesmoke;

    margin-right: 30px;
text-decoration: none;
}
.par{
    width: 150px;
    float:right ;
}
.kit{
    width: 100px;

}
.footer{
    background-color: lightsteelblue;
    padding: 0.1px;

/* margin-left: 20px;     */
    /* padding-left:5px ; */
}
.uli{
    color: black;
}
.section{
    margin-top: 20px;
    float: left;
}
.japan{
    margin-top: 40px;
font-size: 16.5px;
}
.top{
    margin-top: 50px;
    margin-left: 650px;
}
.class{
float: left;
margin-left: 120px;
margin-top: 20px;
}
.img{
    width: 200px;
}
.class3{
    padding-top: 50px;
    margin-left: 10px;
}
.five,h2{
    color: palevioletred;
}
h4{
    color: palevioletred;
}
.pic{
    margin-top: 150px;
    margin-left: 370px;
}
.important{
    float: left;
}

